:root {
    --primary-color: #003453;
    --secondary-color: #00456e;
    --background-color: #e5ecf2;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Prompt', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}


.container {
    height: 100%;
    max-width: 100vw;
    margin: 0 auto;
    padding: 2vh 4vh;
}

header {
    font-size: 1em;
    text-align: center;
    margin-bottom: 40px;
    transition: transform 0.3s ease;
}

h1 {
    color: var(--primary-color);
    font-size: clamp(30px, 5vw, 150px);
    margin-bottom: -0.5%;
    font-weight: 800;
    letter-spacing: 0.08em;
}

.subtitle {
    color: var(--primary-color);
    font-size: clamp(25px, 2.5vw, 75px);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.05em;
}

.last-updated {
    font-size: 0.8em;
    color: #666;
    margin-top: 0.5vw;
    margin-bottom: 5px;
}

.header-small {
    transform: scale(0.65); /* Ajusta la escala según sea necesario */
}

.players-button-container {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 4.4vh;
}

.players-button {
    background: var(--secondary-color);
    color: var(--background-color);
    border: none;
    border-radius: 13px;
    padding: 20px 40px 20px 40px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.05em;
    font-size: clamp(15px, 1.5vw, 58px);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.players-button:hover {
    transform: translateY(-0.4vh);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 40px;
    margin-bottom: 0;
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 24px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.pp {
    background: #2992b1;
}

.ft {
    background: #006791;
}

.sp {
    background: var(--secondary-color);
}

.ag {
    background: var(--primary-color);
}

.game-icon {
    width: clamp(100px, 20vw, 350px);
    height: clamp(100px, 20vw, 350px);
    margin-bottom: -0.7vw;
    color: var(--background-color);
}

.game-name {
    color: var(--background-color);
    font-family: 'Prompt', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: clamp(20px, 2.3vw, 50px);
    margin-bottom: 15px;
}

.back-icon {
    width: clamp(20px, 7vw, 35px); /* Ajusta el tamaño según sea necesario */
    height: clamp(20px, 7vw, 35px); /* Ajusta el tamaño según sea necesario */
    vertical-align: middle; /* Alinea verticalmente el icono con el texto */
}

.back-button {
    position: absolute;
    top: 5vh; /* Ajusta según sea necesario */
    left: 4vh; /* Ajusta según sea necesario */
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.back-button:hover {
    background-color: var(--primary-color);
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

table {
    width: clamp(250px, 90vw, 900px);
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    
}

th, td {
    padding: clamp(1px, 0.5vw, 5px) clamp(1px, 0.4vw, 5px);
    text-align: center;
    font-size: clamp(5px, 2.6vw, 15px);
    border-bottom: 1px solid #eee;
}

th {
    background-color: var(--primary-color);
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.argollas-table {
    width: clamp(200px, 65vw, 400px);
    
}

.argollas-table th, .argollas-table td {
    padding: clamp(1px, 1vw, 5px);
    text-align: center;
    font-size: clamp(5px, 3vw, 15px);
    border-bottom: 1px solid #eee;
}

table tr:not(:first-child) th:first-child, table td:first-child {
    background-color: var(--secondary-color); /* Cambia el color según sea necesario */
    color: white; /* Cambia el color del texto según sea necesario */
}

table tr:not(:first-child) th:last-child, table td:last-child {
    background-color: #f2f2f2; /* Cambia el color según sea necesario */
    color: black; /* Cambia el color del texto según sea necesario */
    font-weight: 600;
}

.score-cell {
    text-align: center;
}

.score-cell.diagonal {
    background-color: #545454;
}

.game-content {
    display: none;
}

.game-title-style {
    letter-spacing: 0.05em;
    font-size: clamp(40px, 5vw, 70px);
    font-weight: 800;
    text-align: center;
    margin-top: clamp(-60px, -5vw, -40px);;
    margin-bottom: 20px;
}

.ping-pong-title {
    color: #2992b1; 
}

.futbolin-title {
    color: #006791; 
}

.sapo-title {
    color: var(--secondary-color);
}

.argollas-title {
    color: var(--primary-color);
}

.player-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.player-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.player-name {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.player-info {
    margin-top: 10px;
}

.player-info p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.player-total {
    font-size: 1em;
    margin: 5px 0;
    display: flex;
    font-weight: 700;
}
